@using Northwind.Web.Helpers
@model IEnumerable<Northwind.Domain.Entities.Category>
@{
    ViewData["Title"] = "Categories";
}

@section Footer {
    <div class="footer-warning">
        <p class="text-warning">Warning: You cannot edit categories.</p>
    </div>
}

<h3 class="title">Our Categories</h3>
<div class="card-section-container">
    <div class="card-container">
        @foreach (var category in Model)
        {
            <div class="card">
                <h2 class="card-title">@category.CategoryName</h2>
                <p class="card-description">@category.Description</p>
              @*   @Html.NorthwindImageLink(@category.CategoryId, "View Image") *@

                <a northwind-id="@category.CategoryId" style="display: inline-block; margin-bottom: 8px;">View Image</a>
                <a asp-action="Image" asp-route-id="@category.CategoryId">
                    @if (!string.IsNullOrEmpty(category.Base64String))
                    {
                        <img src="@String.Format("data:image/jpg;base64,{0}", category.Base64String)" alt="Category Image" class="card-image" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }
                </a>

                <a asp-action="Edit" asp-route-id="@category.CategoryId" class="button card-button" style="margin-top: 2px;">Edit</a>
            </div>
        }
    </div>
</div>